@import url('https://fonts.googleapis.com/css2?family=Mitr');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
    font-family: Mitr;
  background: rgb(240, 234, 234);
}

nav {
  top: 0;
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 1px 5px 8px gray;
  
}
.header{
  display: flex;
  width: 100%;
  height: 80px;
}
.logopkc{
  width: 50%;
  height: 50px;
  background-image: url(/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;

}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 35px;
}



nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.5s;
}

a.active,
a:hover {
  background: white;
  color: slateblue;
}

.banner{
    background: url('../images/banner.png');
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.featuredProducts{
  text-align: center;
  background-color: #0082e6;
  color: white;
}

.container{
  display: flex;
  position: relative;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-gap: 10px;
  padding: 30px 15px;
  z-index: 0;
  margin: auto;
  justify-content: space-evenly;
}

.container .card{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

.container .card .imgBx{
  position: relative;
  width: 100%;
  height: 250px;
  border: 10px 10px 0 0;
  overflow: hidden;
}

.container .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.container .card .imgBx:hover img{
  transition: 0.5s;
  border: 10px 10px 0 0;
  transform: scale(1.1);
}

.container .card .content{
  min-height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productName a{
  color: #6b00a8;
}

.container .card .content .price{
  text-align: center !important;
  color: rgb(49, 43, 43);
  margin-right: 10px;
  text-align: right;
  font-size: 18px;
}

.container .card .content .original-price{
  text-align: center !important;
  margin-right: 10px;
  text-align: right;
  font-size: 15px;
}

.rating{
  color: gold;
  text-align: right;
  margin-right: 5px;
}

.action{
  display: flex;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 5px;
}

.action .add-cart{
  width: 50%;
  background: #01aa39;
  color: white;
  border-bottom-left-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.action .add-cart:hover{
  transition: 0.3s;
  background: goldenrod;
}

.action .detail{
  width: 50%;
  background: rgb(1, 82, 85);
  color: white;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
} 

.action .detail:hover{
  transition: 0.3s;
  background: greenyellow;
  color: #172330;
}




footer{
  width: 100vw;
  height: 120px;
  background-color: #2e3e4f;
  padding: 30px 60px;
}
footer .footer_upper{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
}


footer .copyright{
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  color: gray;
} 
.container_single{
  display: flex;
  margin: 30px;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.container-single{
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px 0;
  background-color: #fff;
  border-radius: 20px;
}

.info{
  padding: 0 20px;

}

.image-product img{
  height: 400px;
  width: 450px;
  margin-left: 20px;
}

.name{
  font-size: 25px;
  color: #172330;
}

.price-single{
  font-size: 20px;
  color: brown;
}

.add-cart-single{
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: yellowgreen;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.5s;
}

.add-cart-single a{
  color: white;
}

.add-cart-single a:hover{
  transition: 0.5s;
  background-color: goldenrod;
  cursor: pointer;
}

.add-cart-single:hover{
  transition: 0.5s;
  background-color: goldenrod;
  cursor: pointer;
}

.image-cart{
  height: 100px;
  width: 100px;
}

.list{
  background-color: ghostwhite;
}

.orderinfo{
  margin-left: 20px;
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 10px;
}

.buy-btn{
  float: right;
  margin-top: 50px;
  margin-right:20px ;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height: 40px;
  background-color: green;
  border-radius: 5px;
  color: #fff;
}

.buy-btn a{
  color: #fff;
  text-decoration: none;
}

.buy-btn a:hover{
  color: #fff;
  background-color: green;
}

.order{
  width: 100%;
  background-color: ghostwhite;
  padding: 10px;
  border-collapse: collapse;
}

.login{
  margin: 10px auto;
  width: 40%;
  
}

input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.phone{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  background-color: #0082e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.success{
  color: green;
}

.error{
  color: red;
}

del {
  text-decoration: line-through;
}

input[type=number]{
  font-size: 18px;
  width: 100px;
}

.category{
  width: 200px;
}

.pagination{
  text-align: center;
  margin: 20px 0;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  height:600px;
  position: relative;
  margin: auto;
  margin-top: 80px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Change Table */
thead tr{
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.list th, .list td{
  padding: 12px 15px;
}

tbody tr{
  border-bottom: 1px solid #ddd;
}

td a{
  color: #000;
}

th, td{
  padding: 12px 15px;
}



