@import url('https://fonts.googleapis.com/css2?family=Mitr');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Mitr;
  background: rgb(240, 234, 234);
}
nav {
  top: 0;
  position: fixed;
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 35px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.5s;
}

.active,
a:hover{
  background-color: white;
  color: #4299E1;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.container{
  margin-top: 30px;
  min-height: 40vh;
  padding: 0 30px;
}

.addNew{
  background-color: #4299E1;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding: 10px;
  border-collapse: collapse;
  border-radius: 5px;
}
.addNew:hover{
  background-color: #1D4ED8;
 
}
.addNew a{
  width: 100%;
  height: 100%;
  color: white;
  margin-bottom: 5px;
  
}
.addNew a:hover{
  width: 100%;
  height: 100%;
  background-color: #1D4ED8;
  color: white;
}

.title{
    background-color: white;
    padding: 10px 30px; 
    display: flex;
    align-items: center;
}
.title div{
  width: 15px;
  height: 40px;
  background-color: #4299E1;
  border-radius: 3px;
  margin-right: 10px;
}


.list{
    width: 100%;
    background-color: ghostwhite;
    padding: 10px;
    border-collapse: collapse;
    border-radius: 10px;
  }

  .image-cart{
    height: 100px;
    width: 100px;
  }

  thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
  }
  
  .list th, .list td{
    padding: 12px 15px;
  }

  tbody tr{
    border-bottom: 1px solid #ddd;
  }

  td a{
    color: #000;
  }


  .product-list{
      padding-top: 1000px;
  }

  .form-add{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 400px;
  }

  input[type=text], input[type=file], input[type=number], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(229, 14, 14);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover{
    background-color: rgb(229, 14, 14);
  }

  .success{
    color: green;
  }

  .error{
    color: red;
  }

  .tabcontent{
    height: 450px;
  }

  .tablinks{
    width: 150px;
    background-color: white;
    color: #009879;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #009879;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  .tablinks:hover {
    background-color: #8ae4d2;
    color: white;
  }

.pagination{
  text-align: center;
  margin: 20px 0;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

footer{
  width: 100vw;
  height: 120px;
  background-color: #2e3e4f;
  padding: 30px 60px;
}
footer .footer_upper{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
}

footer .copyright{
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  color: gray;
} 
#btn-delete{
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #d32f2f;
  background-color: white;
  color: #d32f2f;
 
  
}
#btn-delete:hover{
  background-color: #ec6262;
  color: white;
}
.action_user{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#btn-res{
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #4299E1;
  background-color: white;
  color: #4299E1;
 
  
}
#btn-res:hover{
  background-color: #1a64a1;
  color: white;
}
#btn-view{
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #009879;
  background-color: white;
  color: #009879;
 
  
}
#btn-view:hover{
  background-color: #136555 ;
  color: white;
}



